.container {
    display: flex;
    flex-direction: column;
    .canvas {
        .modalCanvas {
            width: 100%;
            height: auto;
            background: lightgrey;
        }
    }
    .scoreboard {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        &>div {
            padding: 0 5px;
        }
    }
} 